:root {
  --pattaya-font-family: 'Pattaya', sans-serif;
  --open-sans-font-family: 'Open Sans', sans-serif;
}

html,
body {
  background-color: #F5F5F5;
}

nav.navbar {
  padding: 2em 5em;
  background-color: #fff;
}

#navbarNav {
  font-family: var(--pattaya-font-family);
  font-size: 48px;
}

.content {
  padding: 20em 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mock-img {
  width: 40%;
}

/* .content img {
  flex-grow: 1;
}

.content div.info {
  flex-grow: 2;
} */
.logo img {
  width: 4em;
  margin-right: 1em;
}

.star {
  height: 1.8em;
  margin: .2em;
}

h1 {
  font-size: 5em;
  font-family: var(--open-sans-font-family);
  font-weight: 700;
}

h4 {
  font-family: var(--open-sans-font-family);
  font-weight: 400;
  font-size: 2.2em;
  color: #616161;
}

#download-button {
  background: linear-gradient(99.53deg, #9CA9F9 0%, #CF8BF3 54.69%, #EAA6C0 100%);
  color: white;
  border-radius: 10em;
  border: 0;
  padding: .7em 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  /* min-width: 14em;
  min-height: 4em; */
  font-size: 1.6em;
}

#download-button img {
  padding-left: .4em;
  width: 2em;
}

#qr-code {
  height: 9em;
  margin-left: 3em;
  border: 1px solid #EAEAF1;
  border-radius: 8px;
  padding: .5em;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.04);
}

.download-button-group {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 4em;
}

.stars {
  display: flex;
  justify-content: start;
}

@media screen and (max-width:1200px) {

  html,
  body {
    background-color: #F5F5F5;
  }

  nav.navbar {
    padding: 1em 3em;
    background-color: #fff;
  }

  #navbarNav {
    font-family: var(--pattaya-font-family);
    font-size: 24px;
  }

  .content {
    padding: 7em 0 0 0;
    display: flex;
    align-items: center;
  }

  #mock-img {
    width: 75%;
  }

  /* .content img {
  flex-grow: 1;
}

.content div.info {
  flex-grow: 2;
} */


  .star {
    height: 1.2em;
    margin: .2em;
  }

  h1 {
    font-size: 3.5em;
    font-family: var(--open-sans-font-family);
    font-weight: 700;
  }

  h4 {
    font-family: var(--open-sans-font-family);
    font-weight: 400;
    color: #616161;
  }

  #download-button {
    background: linear-gradient(99.53deg, #9CA9F9 0%, #CF8BF3 54.69%, #EAA6C0 100%);
    color: white;
    border-radius: 10em;
    border: 0;
    padding: .7em 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    min-width: 12em;
    max-height: 3em;
  }

  #download-button img {
    padding-left: .4em;
  }

  #qr-code {
    margin-left: 3em;
    border: 1px solid #EAEAF1;
    border-radius: 8px;
    padding: .5em;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.04);
  }

  .download-button-group {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1em;
  }

  .stars {
    display: flex;
    justify-content: start;
  }
}


@media screen and (max-width:850px) {
  nav.navbar {
    padding: 1em 3em;
    background-color: #fff;
  }


  #mock-img {
    width: 100%;
  }

  #navbarNav {
    font-family: var(--pattaya-font-family);
    font-size: 24px;
  }

  .content {
    padding: 7em 2em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  .content .info {
    justify-content: center;
  }

  .star {
    height: 1em;
    margin: .5em;
  }

  .stars {
    display: flex;
    justify-content: center;
    margin: 1em 0;
  }

  h1 {
    font-size: 2.5em;
    font-family: var(--open-sans-font-family);
    font-weight: 700;
  }

  h4 {
    font-family: var(--open-sans-font-family);
    font-weight: 400;
    font-size: .9em;
    color: #616161;
    padding: 1em 2.5em;
  }

  #download-button {
    background: linear-gradient(99.53deg, #9CA9F9 0%, #CF8BF3 54.69%, #EAA6C0 100%);
    color: white;
    border-radius: 10em;
    border: 0;
    padding: .7em 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    min-width: 12em;
    max-height: 3em;
  }

  #download-button img {
    padding-left: .4em;
  }

  .download-button-group {
    display: flex;
    justify-content: center;
    margin: 2em 0;
  }

  #qr-code {
    display: none;
    margin-left: 3em;
    border: 1px solid #EAEAF1;
    border-radius: 8px;
    padding: .5em;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.04);
  }
}